<div class="Register_container container row d-flex m-auto">
    <div class="Register_center justify-content-center align-items-center">
        <div class="container-fluid Inner_div ">
            <div class="align-items-start ">
                <div>
                    <mat-icon class="icon-display">account_circle</mat-icon></div>
            </div>
            <div class="align-items-center form_container">
                <form action="">
                    
                      <mat-form-field class="example-full-width"  appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint></mat-hint>
                      </mat-form-field>
                      <button class="Button_size" mat-raised-button>Login</button>
                      <div class="text-center pt-3 text-muted">Dont't Have a Account <a routerLink="/signup">SignUp</a></div>
                </form>
                  <div>
                    <div class="mx-2 my-5 py-6 bordert">
                      <div class="text-center py-3">
                        <a href="www.facebook.com" target="_blank" class="px-2"><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" alt="facebook"></a>
                        <a href="www.google.com" target="_blank" class="px-2"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/></a>
                        <a href="www.github.com" target="_blank" class="px-2"><img src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
                      </div>
                    </div>
                  </div>
            </div> 
        </div>
        
    </div>

</div>
