.App_body{ 
    background-image: radial-gradient( rgba(110, 49, 3, -27.9), rgba(255, 255, 255, 1)),url(../assets/Wallpaper.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}