.example-spacer {
    flex: 1 1 auto;
  }
  .cube {
    background-color: transparent;
   
    transform: scaleX(1) scaleY(1) scaleZ(0.3) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  }